<?xml version="1.0" encoding="utf-8"?>
<Media Key="1edb8d4a-97f4-4688-9401-babfa4afc441" Alias="Anime Girl" Level="3">
  <Info>
    <Parent Key="60a754e2-75b1-4350-a7a8-0f265c8ebc09">Test</Parent>
    <Path>/Test/AnimeGirl</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-14T16:58:46.927Z</CreateDate>
    <NodeName Default="Anime Girl" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"Key":"00000000-0000-0000-0000-000000000000","Level":0,"SortOrder":0,"Parent":"00000000-0000-0000-0000-000000000000","Src":"/media/jsgnwhxu/peakpx.jpg","Name":null,"Path":null,"ContentType":null,"NodeID":"00000000-0000-0000-0000-000000000000"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>