<?xml version="1.0" encoding="utf-8"?>
<Media Key="25b81116-0645-4a09-a5e8-887629938a8c" Alias="myImages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/myImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-14T16:58:46.837Z</CreateDate>
    <NodeName Default="myImages" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"Key":"00000000-0000-0000-0000-000000000000","Level":0,"SortOrder":0,"Parent":"00000000-0000-0000-0000-000000000000","Src":null,"Name":null,"Path":null,"ContentType":null,"NodeID":"00000000-0000-0000-0000-000000000000"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>