<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddc9bcba-811c-476a-82b9-aab269068cec" Alias="Night Anime" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NightAnime</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-14T16:58:46.953Z</CreateDate>
    <NodeName Default="Night Anime" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"Key":"00000000-0000-0000-0000-000000000000","Level":0,"SortOrder":0,"Parent":"00000000-0000-0000-0000-000000000000","Src":"/media/xs4mtxi2/night-anime.jpg","Name":null,"Path":null,"ContentType":null,"NodeID":"00000000-0000-0000-0000-000000000000"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>