<?xml version="1.0" encoding="utf-8"?>
<Media Key="118420dd-f3f0-4583-8fc2-bf2921d763b4" Alias="SampleImage1" Level="3">
  <Info>
    <Parent Key="0fc1abab-1498-4de1-8b84-0216c4861ffd">SampleImage</Parent>
    <Path>/SampleImage/SampleImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-14T16:58:47.01Z</CreateDate>
    <NodeName Default="SampleImage1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"Key":"00000000-0000-0000-0000-000000000000","Level":0,"SortOrder":0,"Parent":"00000000-0000-0000-0000-000000000000","Src":"/media/1mqiiepq/wallpaperflarecom_wallpaper-1.jpg","Name":null,"Path":null,"ContentType":null,"NodeID":"00000000-0000-0000-0000-000000000000"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>