<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0c1fc0c-2d62-49e1-9356-b2c0558c2d6a" Alias="test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/test</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-03-14T16:58:47.093Z</CreateDate>
    <NodeName Default="test" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"Key":"00000000-0000-0000-0000-000000000000","Level":0,"SortOrder":0,"Parent":"00000000-0000-0000-0000-000000000000","Src":"/media/el4mdmdc/vinu_cs1259-1.pdf","Name":null,"Path":null,"ContentType":null,"NodeID":"00000000-0000-0000-0000-000000000000"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>