<?xml version="1.0" encoding="utf-8"?>
<admin Key="20c5be86-1be7-43a0-bad0-218265f543a7" Level="1" Alias="vinu@email.com">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000" />
    <Path>/AdminVinu</Path>
    <Trashed>false</Trashed>
    <ContentType>admin</ContentType>
    <CreateDate>2024-03-14T17:00:23.147Z</CreateDate>
    <NodeName Default="AdminVinu" />
    <SortOrder>0</SortOrder>
    <Email>vinu@email.com</Email>
    <Username>Vinu</Username>
    <MemberType>admin</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEHFNXFkY2Se9onDnksL+sBbsW3UPXSuLJM2laC+2eAwP4PNaJbGvj6RR3LPX78Zj5w==</RawPassword>
  </Info>
  <Properties>
    <umbracoMemberComments>
      <Value><![CDATA[Test]]></Value>
    </umbracoMemberComments>
    <dOB>
      <Value><![CDATA[3/14/2024 12:00:00 AM]]></Value>
    </dOB>
    <adminName>
      <Value><![CDATA[Vinu]]></Value>
    </adminName>
  </Properties>
  <Groups>
    <Group>Claysys</Group>
    <Group>CUNextGen</Group>
  </Groups>
</admin>