<?xml version="1.0" encoding="utf-8"?>
<Member Key="9ce7cd1d-899c-4341-b9cb-349383ae895a" Level="1" Alias="vinu123@email.com">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000" />
    <Path>/MemberA</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-03-14T17:00:23.273Z</CreateDate>
    <NodeName Default="MemberA" />
    <SortOrder>1</SortOrder>
    <Email>vinu123@email.com</Email>
    <Username>vinu@email.com</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEEnwUTLXLEvRD24pubTJ5vFI8Tm12B+IfjzB6kuPB8gjuSh9Pkz2fjU9ivjW5SLP+g==</RawPassword>
  </Info>
  <Properties>
    <umbracoMemberComments>
      <Value><![CDATA[Test]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups>
    <Group>Claysys</Group>
  </Groups>
</Member>