<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d7d1710-7ddc-4fa7-98b2-817862222832" Level="1">
  <Info>
    <Name>FirstPage - myProp - Suggestions</Name>
    <EditorAlias>Suggestions editor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</Content>