<?xml version="1.0" encoding="utf-8"?>
<Content Key="918dcdb9-5a24-4dd6-b4f3-39ec6eacfea6" Level="1">
  <Info>
    <Name>Second Page - myBlock - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{"Blocks":[{"ColumnSpanOptions":[],"RowMinSpan":1,"RowMaxSpan":1,"AllowAtRoot":true,"AllowInAreas":true,"Areas":[],"ContentElementTypeKey":"16c44524-7b71-4324-a5a3-d3ee71e01bd9","Label":"{{comment}}","EditorSize":"medium","InlineEditing":false,"ForceHideContentEditorInOverlay":false}],"BlockGroups":[],"ValidationLimit":{},"UseLiveEditing":false}]]></Config>
</Content>