<?xml version="1.0" encoding="utf-8"?>
<Content Key="e21715fd-8306-4512-a0c2-dafbad136df2" Level="1">
  <Info>
    <Name>Second Page - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{"Blocks":[{"ContentElementTypeKey":"16c44524-7b71-4324-a5a3-d3ee71e01bd9","Label":"{{comment}}","EditorSize":"medium","ForceHideContentEditorInOverlay":false}],"ValidationLimit":{"Min":1,"Max":2},"UseSingleBlockMode":true,"UseLiveEditing":true,"UseInlineEditingAsDefault":true,"MaxPropertyWidth":"123"}]]></Config>
</Content>