<?xml version="1.0" encoding="utf-8"?>
<Content Key="03ee38bc-4a1b-400b-8869-ba107b9274d1" Level="1">
  <Info>
    <Name>Second Page - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{"Minimum":1,"Maximum":2}]]></Config>
</Content>