<?xml version="1.0" encoding="utf-8"?>
<Content Key="ace0b197-0eec-4586-9215-00d7684e628e" Level="1">
  <Info>
    <Name>Second Page - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{"entityType":"User","multiPicker":"0"}]]></Config>
</Content>