<?xml version="1.0" encoding="utf-8"?>
<Content Key="443eb2fe-4dcb-4c0d-8552-5c78c70453cf" Level="1">
  <Info>
    <Name>Second Page - Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</Content>