<?xml version="1.0" encoding="utf-8"?>
<Content Key="937e5033-f106-4454-93ff-7e7e0712df3a" Level="1">
  <Info>
    <Name>Third Page - myCheck - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"Items":[{"Id":1,"Value":"Test"},{"Id":2,"Value":"test1"},{"Id":3,"Value":"test2"}]}]]></Config>
</Content>