<?xml version="1.0" encoding="utf-8"?>
<Content Key="311c1c01-b54b-4b42-90fb-42f351408417" Level="1">
  <Info>
    <Name>Third Page - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{"TreeSource":{},"MinNumber":1,"MaxNumber":98,"ShowOpen":true,"IgnoreUserStartNodes":true}]]></Config>
</Content>