<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a1dffa8-3cbd-4531-8936-00f0a8927c6a" Level="1">
  <Info>
    <Name>Third Page - mySlide - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"EnableRange":false,"InitialValue":1.0,"InitialValue2":2.0,"MinimumValue":3.0,"MaximumValue":4.0,"StepIncrements":5.0}]]></Config>
</Content>