<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5af44f4-3392-4621-b932-dd47d6360e7a" Level="1">
  <Info>
    <Name>Third Page - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"IsRequired":false}]]></Config>
</Content>