<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd8d02ec-e474-40c0-85aa-6cb8271123d7" Level="1">
  <Info>
    <Name>Third Page - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"ShowAlpha":true,"ShowPalette":true}]]></Config>
</Content>