<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b0903bc-5f02-4faa-8080-e90a727cbf9e" Level="1">
  <Info>
    <Name>Third Page - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{"DisplayLivePreview":true,"DefaultValue":"123","OverlaySize":"small"}]]></Config>
</Content>