<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5bc2c226-874b-479f-b24a-10a9709ed17e" Alias="myDictionary" Level="0">
  <Info>
    <Identity>true</Identity>
  </Info>
  <Translations>
    <Translation Language="en-US">hi English</Translation>
    <Translation Language="fr">hi French</Translation>
    <Translation Language="it">hi Italian</Translation>
  </Translations>
</Dictionary>