<?xml version="1.0" encoding="utf-8"?>
<RelationType Key="b7dff0d1-771a-426f-9309-68bc476dab9b" Level="0" Alias="myRelation">
  <Info>
    <Name>myRelation</Name>
    <ParentType>39eb0f98-b348-42a1-8662-e7eb18487560</ParentType>
    <ChildType>b796f64c-1f99-4ffb-b886-4bf4bc011a9c</ChildType>
    <Bidirectional>true</Bidirectional>
    <IsDependency>true</IsDependency>
  </Info>
</RelationType>