<?xml version="1.0" encoding="utf-8"?>
<RelationType Key="19708d37-eb4e-48da-9262-9b199ced1f27" Level="0" Alias="myRelation1">
  <Info>
    <Name>myRelation1</Name>
    <ParentType>c66ba18e-eaf3-4cff-8a22-41b16d66a972</ParentType>
    <ChildType>b796f64c-1f99-4ffb-b886-4bf4bc011a9c</ChildType>
    <Bidirectional>true</Bidirectional>
    <IsDependency>false</IsDependency>
  </Info>
</RelationType>