<?xml version="1.0" encoding="utf-8"?>
<Macro Key="76ca3054-2846-431a-bc86-28bda9564e13" Level="0" Alias="myButton">
  <Name>myButton</Name>
  <MacroSource>~/Views/MacroPartials/myButton.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>true</DontRender>
  <CachedByMember>true</CachedByMember>
  <CachedByPage>true</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Link</Name>
      <Alias>link</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>Caption</Name>
      <Alias>caption</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>New Window</Name>
      <Alias>newWindow</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    </Property>
  </Properties>
</Macro>