<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cdb6342-71e8-47bc-875a-d33d228f25bc" Level="2" Alias="About">
  <Info>
    <Parent Key="61e3fbad-81ee-430f-97cb-aac6483410b4">Home Page</Parent>
    <Path>/firstPage/secondPage</Path>
    <Trashed>false</Trashed>
    <ContentType>secondPage</ContentType>
    <CreateDate>2024-03-14T16:58:47.537Z</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4a2f371e-b588-48e6-bcbc-4149731e18c4">Second Page</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[This is about page]]></Value>
    </title>
    <myBlock>
      <Value><![CDATA[{"layout":{"Umbraco.BlockGrid":[{"contentUdi":"umb://element/866583f10f0c4447a03f14689d035757","areas":[],"columnSpan":12,"rowSpan":1},{"contentUdi":"umb://element/a09766dbd83b4aba93c18c585809eb66","areas":[],"columnSpan":12,"rowSpan":1}]},"contentData":[{"contentTypeKey":"16c44524-7b71-4324-a5a3-d3ee71e01bd9","udi":"umb://element/866583f10f0c4447a03f14689d035757","comment":"hai"},{"contentTypeKey":"16c44524-7b71-4324-a5a3-d3ee71e01bd9","udi":"umb://element/a09766dbd83b4aba93c18c585809eb66","comment":"hello"}],"settingsData":[]}]]></Value>
    </myBlock>
    <sec>
      <Value><![CDATA[123]]></Value>
    </sec>
    <myMembrGroup>
      <Value><![CDATA[Claysys]]></Value>
    </myMembrGroup>
    <myUserPicker>
      <Value><![CDATA[2]]></Value>
    </myUserPicker>
    <myBlockList>
      <Value><![CDATA[{"layout":{"Umbraco.BlockList":[{"contentUdi":"umb://element/dc89f66923ec499b80cb7bd1e4108915"}]},"contentData":[{"contentTypeKey":"16c44524-7b71-4324-a5a3-d3ee71e01bd9","udi":"umb://element/dc89f66923ec499b80cb7bd1e4108915","comment":"hai"}],"settingsData":[]}]]></Value>
    </myBlockList>
    <myRptStrng>
      <Value><![CDATA[assas
asdd]]></Value>
    </myRptStrng>
  </Properties>
</Content>