<?xml version="1.0" encoding="utf-8"?>
<Content Key="61e3fbad-81ee-430f-97cb-aac6483410b4" Level="1" Alias="Home Page">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/firstPage</Path>
    <Trashed>false</Trashed>
    <ContentType>firstPage</ContentType>
    <CreateDate>2024-03-14T16:58:47.217Z</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4f82a2f-e112-448d-92d9-af8194a0a8ad">FirstPage</Template>
  </Info>
  <Properties>
    <myProp>
      <Value><![CDATA[]]></Value>
    </myProp>
    <title>
      <Value><![CDATA[amal@email.com]]></Value>
    </title>
    <description>
      <Value><![CDATA[Home page is a page which shoe first when domain works]]></Value>
    </description>
    <image>
      <Value><![CDATA[[{"key":"772ee3d6-8411-45d0-a8cc-bfd9cea5dd00","mediaKey":"ddc9bcba-811c-476a-82b9-aab269068cec"}]]]></Value>
    </image>
    <but>
      <Value><![CDATA[<p> asdfasd</p>
<p> </p>
<p> </p>
<?UMBRACO_MACRO macroAlias="myButton" link="https://www.google.com/" caption="googel" newWindow="1" />
<p> </p>
<p> </p>]]></Value>
    </but>
  </Properties>
</Content>