<?xml version="1.0" encoding="utf-8"?>
<Content Key="616c700e-5737-4a2e-ab5d-e13301e72184" Level="1" Alias="Home Page two">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/thirdPage</Path>
    <Trashed>false</Trashed>
    <ContentType>thirdPage</ContentType>
    <CreateDate>2024-03-14T16:58:47.61Z</CreateDate>
    <NodeName Default="Home Page two" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b7437ea-39c3-4b56-a067-4f0ab6d78686">Third Page</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[this is home page two title]]></Value>
    </title>
    <thr>
      <Value><![CDATA[]]></Value>
    </thr>
    <myCheck>
      <Value><![CDATA[]]></Value>
    </myCheck>
    <myEyeDrop>
      <Value><![CDATA[]]></Value>
    </myEyeDrop>
    <myTreePicker>
      <Value><![CDATA[]]></Value>
    </myTreePicker>
    <myDecimal>
      <Value><![CDATA[]]></Value>
    </myDecimal>
    <myEmail>
      <Value><![CDATA[]]></Value>
    </myEmail>
    <mySlide>
      <Value><![CDATA[]]></Value>
    </mySlide>
    <myMarkdown>
      <Value><![CDATA[]]></Value>
    </myMarkdown>
  </Properties>
</Content>