<?xml version="1.0" encoding="utf-8"?>
<Content Key="9239c4b1-888c-4c07-9a8c-ed5350111e07" Level="1" Alias="test unpublished">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/firstPage</Path>
    <Trashed>false</Trashed>
    <ContentType>firstPage</ContentType>
    <CreateDate>2024-03-14T16:58:47.66Z</CreateDate>
    <NodeName Default="test unpublished" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4f82a2f-e112-448d-92d9-af8194a0a8ad">FirstPage</Template>
  </Info>
  <Properties>
    <myProp>
      <Value><![CDATA[]]></Value>
    </myProp>
    <title>
      <Value><![CDATA[amal@email.com]]></Value>
    </title>
    <description>
      <Value><![CDATA[dfg]]></Value>
    </description>
    <image>
      <Value><![CDATA[[{"key":"096a306c-1e40-4784-9eea-b6eeb942f75b","mediaKey":"49229430-241b-4b5b-8c48-2935364f0565"}]]]></Value>
    </image>
    <but>
      <Value><![CDATA[]]></Value>
    </but>
  </Properties>
</Content>