<?xml version="1.0" encoding="utf-8"?>
<Content Key="88d772f6-2283-4676-87f3-4bdb23af52a1" Level="1" Alias="TestTemplate">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/thirdPage</Path>
    <Trashed>false</Trashed>
    <ContentType>thirdPage</ContentType>
    <CreateDate>2024-03-14T16:58:47.703Z</CreateDate>
    <NodeName Default="TestTemplate" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b7437ea-39c3-4b56-a067-4f0ab6d78686">Third Page</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[and it works]]></Value>
    </title>
    <thr>
      <Value><![CDATA[]]></Value>
    </thr>
    <myCheck>
      <Value><![CDATA[]]></Value>
    </myCheck>
    <myEyeDrop>
      <Value><![CDATA[#8fce00]]></Value>
    </myEyeDrop>
    <myTreePicker>
      <Value><![CDATA[umb://document/9239c4b1888c4c079a8ced5350111e07]]></Value>
    </myTreePicker>
    <myDecimal>
      <Value><![CDATA[1]]></Value>
    </myDecimal>
    <myEmail>
      <Value><![CDATA[vinucheriken@gmail.com]]></Value>
    </myEmail>
    <mySlide>
      <Value><![CDATA[3]]></Value>
    </mySlide>
    <myMarkdown>
      <Value><![CDATA[123]]></Value>
    </myMarkdown>
  </Properties>
</Content>