<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="066e1f32-035b-4ecb-81f1-afae3f989be1" Alias="admin">
  <Info>
    <Sections>content,forms,media,member,packages,settings,translation,users</Sections>
    <Icon>icon-medal</Icon>
    <Name>Administrators</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[C,A,D,M,O,S,K,T,P,I,U,R,Z,:,5,F,7,ï,N]]></Permission>
  </Info>
  <AssignedPermissions>
    <Permission Key="616c700e-5737-4a2e-ab5d-e13301e72184"><![CDATA[,,^,~,<,>,A,C,D,F,I,ï,K,M,N,O,P,R,S,U,Z]]></Permission>
    <Permission Key="9239c4b1-888c-4c07-9a8c-ed5350111e07"><![CDATA[,,^,~,<,>,A,C,D,F,I,ï,K,M,N,O,P,R,S,U,Z,,^,~,<,>,A,C,D,F,I,ï,K,M,N,O,P,R,S,U,Z]]></Permission>
    <Permission Key="88d772f6-2283-4676-87f3-4bdb23af52a1"><![CDATA[,,^,~,<,>,A,C,D,F,I,ï,K,M,N,O,P,R,S,U,Z,,^,~,<,>,A,C,D,F,I,ï,K,M,N,O,P,R,S,U,Z,,^,~,<,>,A,C,D,F,I,ï,K,M,N,O,P,R,S,U,Z]]></Permission>
  </AssignedPermissions>
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
    <AllowedLanguages>fr</AllowedLanguages>
  </Languages>
</UserGroup>