<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="163f4839-c64c-45df-a5d4-02f994a56eae" Alias="sensitiveData">
  <Info>
    <Sections></Sections>
    <Icon>icon-lock</Icon>
    <Name>Sensitive data</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>