<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="import@email.com">
  <Info>
    <Comments />
    <Name>import</Name>
    <Username>import@email.com</Username>
    <Email>import@email.com</Email>
    <EmailConfirmed></EmailConfirmed>
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEAspL3Q2YfAmXAsA9GndBbgEOX30Ri1Od6jMhU471xedfQNZkxqQwkjOh1W5RdfYVQ==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>