<?xml version="1.0" encoding="utf-8"?>
<User Key="00000001-0000-0000-0000-000000000000" Alias="nousync@email.com">
  <Info>
    <Comments />
    <Name>nousync</Name>
    <Username>nousync@email.com</Username>
    <Email>nousync@email.com</Email>
    <EmailConfirmed></EmailConfirmed>
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEJswoPHHHSjwx1zj0u8vlzMtLNvdcJ4Grm5ZGlmuExVjdJmrgvMxhiJrBaJFGyYCjQ==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>