<?xml version="1.0" encoding="utf-8"?>
<User Key="00000002-0000-0000-0000-000000000000" Alias="test@email.com">
  <Info>
    <Comments />
    <Name>Test</Name>
    <Username>test@email.com</Username>
    <Email>test@email.com</Email>
    <EmailConfirmed></EmailConfirmed>
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEBE5BIpnvvP6P6/DOHg6RO66FsVw2HOTFJLve8kHVEs04O2mZJ36tizwBSyErUMfCg==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>writer</Alias>
    </Group>
    <Group>
      <Alias>editor</Alias>
    </Group>
    <Group>
      <Alias>translator</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
    <Group>
      <Alias>uSyncBrowser</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>