<?xml version="1.0" encoding="utf-8"?>
<User Key="00000003-0000-0000-0000-000000000000" Alias="vinu@email.com">
  <Info>
    <Comments />
    <Name>vinu</Name>
    <Username>vinu@email.com</Username>
    <Email>vinu@email.com</Email>
    <EmailConfirmed></EmailConfirmed>
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEJ45A9gXLydbDD4JWZbCxeRBq96hWd+/gZX3C/T8BG8jWlcZduUEIyBGq8M2VC8SZQ==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>editor</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>