<?xml version="1.0" encoding="utf-8"?>
<Content Key="36a6b607-5a7b-4dac-af18-ba2c267037cd" Level="1" Alias="page two">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pagetwo</Path>
    <Trashed>false</Trashed>
    <ContentType>secondPage</ContentType>
    <CreateDate>2024-03-14T16:58:47.833Z</CreateDate>
    <NodeName Default="page two" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4a2f371e-b588-48e6-bcbc-4149731e18c4">Second Page</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[This is second page]]></Value>
    </title>
    <myBlock>
      <Value><![CDATA[]]></Value>
    </myBlock>
    <sec>
      <Value><![CDATA[]]></Value>
    </sec>
    <myMembrGroup>
      <Value><![CDATA[]]></Value>
    </myMembrGroup>
    <myUserPicker>
      <Value><![CDATA[]]></Value>
    </myUserPicker>
    <myBlockList>
      <Value><![CDATA[]]></Value>
    </myBlockList>
    <myRptStrng>
      <Value><![CDATA[]]></Value>
    </myRptStrng>
  </Properties>
</Content>