<?xml version="1.0" encoding="utf-8"?>
<Content Key="af8d8cea-181d-4746-8235-00fa1cfb2018" Level="1" Alias="page three">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pagethree</Path>
    <Trashed>false</Trashed>
    <ContentType>thirdPage</ContentType>
    <CreateDate>2024-03-14T16:58:47.807Z</CreateDate>
    <NodeName Default="page three" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="9b7437ea-39c3-4b56-a067-4f0ab6d78686">Third Page</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[this is home page two title]]></Value>
    </title>
    <thr>
      <Value><![CDATA[]]></Value>
    </thr>
    <myCheck>
      <Value><![CDATA[]]></Value>
    </myCheck>
    <myEyeDrop>
      <Value><![CDATA[]]></Value>
    </myEyeDrop>
    <myTreePicker>
      <Value><![CDATA[]]></Value>
    </myTreePicker>
    <myDecimal>
      <Value><![CDATA[]]></Value>
    </myDecimal>
    <myEmail>
      <Value><![CDATA[]]></Value>
    </myEmail>
    <mySlide>
      <Value><![CDATA[]]></Value>
    </mySlide>
    <myMarkdown>
      <Value><![CDATA[]]></Value>
    </myMarkdown>
  </Properties>
</Content>